<section class="content-header">
  <h1> {{header}} </h1>
</section>

<section class="content">
  <span class=" pull-right">
    <div>
      <button class="btn btn-default" ng-click="openCreateNewCommunity()"><span
          class="glyphicon glyphicon-plus"></span>Create new community</button>
    </div>
    <!-- <div class="col-xs-6">
          <button class="btn btn-default btn-block" ng-click="createGroup()" ng-disabled="true"><span class="glyphicon glyphicon-plus"></span>Create group</button>
        </div> -->
  </span>
  <hr>
  <!-- Filter -->
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Filter</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" ng-click="changeView()"
          ng-disabled="!listView"><i class="fa fa-th-large fa-lg"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="collapse" ng-click="changeView()"
          ng-disabled="listView"><i class="fa fa-list fa-lg"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <!-- /.col -->
        <div class="col-md-4">
          <label>Community type</label>
          <ui-select
            ng-model="selectedFilter.type"
            theme="bootstrap"
            ng-disabled="disabled"
            reset-search-input="true"
            title="Choose visibility and access filter"
            on-select="onFilterChange($item, $model)">
              <ui-select-match >
                  <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in (communityTypes | filter: $select.search) track by item.id">
                  <span ng-bind="item.name"></span>
              </ui-select-choices>
          </ui-select>
          </div>
        <div class="col-md-4">
          <label>Domain</label>
          <ui-select multiple
            ng-model="selectedFilter.domain"
            theme="bootstrap"
            ng-disabled="disabled"
            reset-search-input="true"
            title="Choose domain filter"
            on-select="onFilterChange($item, $model)"
            on-remove="onFilterChange($item, $model)">
              <ui-select-match >
                  <span ng-bind="$item.name"></span>
              </ui-select-match>
                <ui-select-choices repeat="item in (availibleDomainsObjects | filter: $select.search) track by item.id">
                  <span ng-bind="item.name"></span>
              </ui-select-choices>
            </ui-select-choices>
          </ui-select>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.box-body -->
  </div>

  <!-- VIEW BLOCK -->

  <!-- Start -->
  <div ng-show="loadedPage">

    <!-- onlyPrivateDevices -->
    <div ng-show="noCommunities">
      <h2 style="margin-left:20px;">No communities found for the current selection...</h2>
    </div>

    <div class="row" ng-if="!listView || imMobile">
      <!-- reaped on each device in the list -->
      <div class="col-md-4" ng-repeat="community in communities">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header "
            ng-class="{'Partnership':'bg-olive', 'Community':'bg-yellow'}[community.type]">
            <div class="widget-user-image">
              <img style="cursor: pointer; background-color: white; object-fit: contain; height:65px; width:65px;" onmouseover=""
                ui-sref="root.main.communityProfile.nodes({commId: community.commId})" class="img-circle"
                ng-src="{{community.avatar}}" alt="Community Avatar">
            </div>
            <span class='pull-right' ng-show="community.domain.length > 0">
              <span class="label label-default paddedSides">{{community.domain}}</span>
            </span>
            <!-- /.widget-user-image -->
            <h3 style="cursor: pointer; text-overflow: ellipsis; overflow:hidden; white-space: pre; color: #FFF;" class="widget-user-username">{{ community.name | limitTo: 20 }}{{community.name.length > 20 ? '...' :
              ''}}</h3>
            <!-- /.widget-user-image -->
            <h5 ng-show="community.type ==='Community'" class="widget-user-desc">{{ community.type }}</h5>
            <h5 style="cursor: pointer; text-overflow: ellipsis; overflow:hidden; white-space: pre; " ng-show="community.type ==='Partnership'" class="widget-user-desc">{{community.description}}</h5>
            <h5 class="widget-user-desc">Organisations: {{ community.organisationsNum }} </h5>
            <h5 class="widget-user-desc">Nodes: {{ community.nodesNum }} </h5>

          </div>
          <a href="" class="widget-user-footer-moreinfo"
            ui-sref="root.main.communityProfile.nodes({commId: community.commId})">More info<i
              class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>

    </div>
      <!-- LIST VIEW -->
      <div class="box" ng-if="listView && !imMobile && !noCommunities">
        <div class="box-body">
          <table id="RegTable" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Domain</th>
                <th>Organisations</th>
                <th>Nodes</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="community in communities ">
                <td class="col-sm-4">
                  <a style="color: #000; z-index: -1" href=""
                    ui-sref="root.main.communityProfile.nodes({commId: community.commId})">{{ community.name }}</a>
                </td>
                <td class="col-sm-4">
                  <a style="color: #000; z-index: -1" href=""
                    ui-sref="root.main.communityProfile.nodes({commId: community.commId})">{{ community.type }}</a>
                </td>
                <td class="col-sm-2">
                  <span>{{ community.domain }}</span>
                </td>
                <td class="col-sm-2">
                  <span>{{ community.organisationsNum }}</span>
                </td>
                <td class="col-sm-2">
                  <span>{{ community.nodesNum }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

   
    <!--END VIEW BLOCK -->
    <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
      <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block" />
    </div>

    <div class="centered" ng-show="!allItemsLoaded && loaded">
      <h3 ng-click="loadMore()" class="well" style="cursor: pointer">Load more items</h3>
    </div>

    <div class="centered" ng-show="allItemsLoaded && !noCommunities">
      <h3 class="well">All items loaded!</h3>
    </div>

    <div id="addCommunityModal" class="modal" >
      <div class="modal-dialog" style="">
        <div class="modal-content" style="height: 100%; ">
          <div class="modal-header">
            <button type="button" class="close" ng-click="closeModal()" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Creating new community</h4>
          </div>
          <div class="modal-body" style="height: 100%;">
            <div class="">
              <label>Name</label>
              <input type="text" class="form-control" ng-model="newCommunityName" placeholder="My new community">
            </div>
            <div class="">
              <label>Description</label>
              <input type="text" class="form-control" ng-model="newCommunityDescription"
                placeholder="Short description of community">
            </div>
            <div>
              <select ng-model="newCommunityDomain"
              ng-options="domain as domain for domain in availibleDomains"></select>
            </div>
            <div>
              <label class="form-check-label" for="flexCheckDefault">Nodes</label>
              <br>
              <ul>
                <li ng-repeat="node in newCommunityNodes">
                  <label>{{node.name}}</label>
                  <button ng-click="removeNode(node)" type="button" class=""><i class="fa fa-minus"></i></button>
                </li>
                <select ng-model="selectedNewNode"
                  ng-options="node as node.name for node in availibleNodes track by node.agid"></select>
                <button ng-click="addNode()" type="button" class=" "><i class="fa fa-plus"></i></button>
              </ul>
            </div>
            <div class="modal-footer btn-block">
              <button type="button" class="btn btn-danger pull-left" ng-click="closeModal()">Cancel</button>
              <button type="button" class="btn btn-primary" ng-click="saveModal()">Create community</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>

</section>
<script>
  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function () {
    $('#RegTable').DataTable({
      "searching": false,
      "paging": false,
      "info": false,
      "select.info": false,
      "ordering": true
    });
  })
</script>