<section class="content-header">
  <h1>Contract profile</h1>
</section>


<section class="content">
  <div class="row">
    <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
      <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block" />
    </div>

    <div class="col-md-3" ng-show="loaded">

      <div class="box box-primary">
        <div class="box-body box-profile">

          <!-- Contract details -->
          <h3 class="profile-username text-center" style="margin-top: 15px">{{contract.type}} contract</h3>
          <h5 data-toggle="tooltip" title="Click to copy" ng-click="copyToClipboard(contract.ctid,'CTID')"
            class="text-muted text-center" style="margin-top: 15px">CTID: {{contract.ctid}}</h5>

          <!-- Contract info -->
          <ul class="list-group list-group-unbordered">

            <!-- Parties -->
            <li class="list-group-item">
              <i class="fa fa-users margin-r-5"></i>
              <strong>Parties</strong>
              <br>
              <div ng-repeat="org in contract.organisationsWithName">
                <a ui-sref="root.main.companyProfile.items({companyAccountId: org.cid})">{{org.name}}</a>
              </div>
              <div ng-repeat="org in contract.pendingOrganisationsWithName">
                <a ui-sref="root.main.companyProfile.items({companyAccountId: org.cid})">{{org.name}} - pending</a>
              </div>
            </li>
            <!-- Items discoverability   -->
            <li class="list-group-item">
              <p>
                <strong>Items discoverability:</strong>
                <a ng-show="nodesNonDiscoverable.length > 0 " ng-click="openModal1()"
                  class="pull-right btn-sm btn-danger">Fix</a>
              <p ng-show="nodesNonDiscoverable.length > 0 " class="text-muted"> Some items are not discoverable because
                you are not including nodes serving contracted items in partnership. </p>
              <p ng-show="nodesNonDiscoverable.length == 0 " class="text-muted"> All items in contract are discoverable
              </p>
            </li>

            <!-- Contract details -->
            <li class="list-group-item">
              </p>
              <p>
                <strong>Description:</strong>
                <a ng-click="descriptionEdit()"
                  class="descriptionNormal pull-right btn-sm btn-info edit_profile">Edit</a>
                <a ng-click="descriptionSave()" style="display: block; margin-top: 5px; margin-left: 2px"
                  class="descriptionEdit pull-right btn-sm btn-info edit_profile"><i style="color: green"
                    class="fa fa-check"></i>Save</a>
                <a ng-click="descriptionCancel()" style="display: block; margin-top: 5px; margin-left: 2px"
                  class="descriptionEdit pull-right btn-sm btn-info edit_profile"><i style="color: red"
                    class="fa fa-times"></i>Cancel</a>
              <p class="descriptionNormal text-muted">{{contract.description}}</p>
              <input style="display: block; margin-top: 5px; margin-left: 0px" class="descriptionEdit style-1"
                type="text" ng-model="descriptionNew" />

              </p>
              <p>
                <strong>Terms and conditions:</strong>
              <p class="text-muted" id="loc1">{{contract.termsAndConditions}}</p>
              </p>
              <p>
                <strong>Items:</strong>
                {{contract.itemsNumber}}
              </p>
              <p>
                <strong>Created date:</strong>
                {{contract.createdDate}}
            </li>
            <li class="list-group-item">
              <p>
                <a type="button" class="pull-center btn-sm btn-info" style="margin-left: 5px" ng-click="openModal2()">
                  DLT check</a>
                <a ng-show="accepted" ng-click="removeFromContract(contract.ctid)" class="pull-center btn-sm btn-danger"
                  style="margin-left: 5px"> Leave contract </a>
                <a ng-show="!accepted" ng-click="answerRequest(contract.ctid, true)"
                  class="pull-center btn-sm btn-success" style="margin-left: 5px"> Accept contract request</a>
                <a ng-show="!accepted" ng-click="answerRequest(contract.ctid, false)"
                  class="pull-center btn-sm btn-warning" style="margin-left: 5px"> Reject contract request</a>
              </p>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <div class="col-md-9" ng-show="loaded">
      <div class="nav-tabs-custom">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li ui-sref-active="active"><a ui-sref="root.main.contractProfile.items"><i
                class="fa fa-cube"></i>&nbsp;Contract Items</a></li>
          <li ui-sref-active="active"><a ui-sref="root.main.contractProfile.edit"><i
                class="fa fa-check-square-o"></i>&nbsp;Update my items</a></li>
          <li ui-sref-active="active"><a ui-sref="root.main.contractProfile.history"><i
                class="fa fa-clock-o"></i>&nbsp;History</a></li>
          <!-- <li ui-sref-active="active"><a ui-sref="root.main.itemProfile.whoSee"><i class="fa fa-eye"></i>&nbsp;Who see</a></li> -->
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" ui-view="tabPanel">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal fix discoverability -->
<div id="fixDiscoverabilityModal" class="modal">
  <div class="modal-dialog" style="">
    <div class="modal-content" style="height: 100%; ">
      <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal1()" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Fixing discoverability of items</h4>
      </div>
      <div class="modal-body" style="height: 100%;">
        <i> You need to share these nodes to allow remote organisation discover your items:</i>
        <ul ng-repeat="org in nodesNonDiscoverable">
          <li ui-sref="root.main.companyProfile.items({companyAccountId: org.cid})">{{org.name}}
            <ul ng-repeat="node in org.nodes">
              <li>{{ node }}</li>
            </ul>
          </li>
        </ul>
        <div class="modal-footer btn-block">
          <button type="button" class="btn btn-danger pull-left" ng-click="closeModal1()">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="saveModal1()">Share nodes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
<div id="dltCheckModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content" style="height: 100%; ">
      <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal2()" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">DLT validation</h4>
      </div>
      <div ng-if="!dltLoaded" class="modal-body" style="height: 100%;">
        <span>Loading...</span>
      </div>
      <div ng-if="dltLoaded" class="modal-body" style="height: 100%; text-align: center;">
        <div style="text-align: center;">CTID: <span style="font-weight: bolder; opacity: 0.6;">{{comparison.ctid}}</span></div>
        <div style="margin-top: 16px;">
          <div ng-if="comparison.checks.contractInDlt && comparison.checks.orgsMatch && comparison.checks.itemsMatch" style="text-align: center">
            <i class="fa fa-check fa-4x my-green" aria-hidden="true"></i>
            <div  style="margin-top: 8px;" class="my-green">DLT and local state are synchronized</div>
          </div>
          <div ng-if="!comparison.checks.contractInDlt || !comparison.checks.orgsMatch || !comparison.checks.itemsMatch" style="text-align: center">
            <i class="fa fa-exclamation-triangle fa-4x my-yellow" aria-hidden="true"></i>
            <div style="margin-top: 8px;" class="my-yellow">DLT and local state are not synchronized!</div>
          </div>
          <div style="display: flex; justify-content: center; height: 24px; border: 1px solid grey; border-radius: 4px; margin-top: 16px; cursor: pointer" ng-click="toggleResult()">
            <div style="padding-right: 4px;">
              <i class="fa fa-info" aria-hidden="true"></i>
            </div>
            <div ng-if="!showDltResult">
              Show more info
            </div>
            <div ng-if="showDltResult">
              Show less info
            </div>
            <div ng-if="!showDltResult" style="padding-left: 4px;">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div ng-if="showDltResult" style="padding-left: 4px;">
              <i class="fa fa-caret-up" aria-hidden="true"></i>
            </div>
          </div>
          <div ng-if="showDltResult">
            <div style="padding-top: 8px">
              <span> Registered:
                <i class="fa fa-check my-green" ng-if="comparison.checks.contractInDlt" aria-hidden="true"></i>
                <span class="my-green"  ng-if="comparison.checks.contractInDlt" >synchronized</span>
                <i class="fa fa-times my-red" ng-if="!comparison.checks.contractInDlt" aria-hidden="false"></i>
                <span class="my-red"  ng-if="!comparison.checks.contractInDlt" >not synchronized!</span>
              </span>
            </div>
            <div>
              <span> Organisations:
                <i class="fa fa-check" ng-if="comparison.checks.orgsMatch" aria-hidden="true"></i>
                <span class="my-green"  ng-if="comparison.checks.orgsMatch" >synchronized</span>
                <i class="fa fa-times" ng-if="!comparison.checks.orgsMatch" aria-hidden="false"></i>
                <span class="my-red"  ng-if="!comparison.checks.orgsMatch" >not synchronized!</span>
              </span>
            </div>
            <div>
              <span> Items:
                <i class="fa fa-check" ng-if="comparison.checks.itemsMatch" aria-hidden="true"></i>
                <span class="my-green"  ng-if="comparison.checks.itemsMatch" >synchronized</span>
                <i class="fa fa-times" ng-if="!comparison.checks.itemsMatch" aria-hidden="false"></i>
                <span class="my-red"  ng-if="!comparison.checks.itemsMatch" >not synchronized!</span>
              </span>
            </div>
            <table style="width: 80%; opacity: 0.6; margin-top: 16px" >
              <tr style="border-spacing: 10x;">
                <td></td>
                <td>Local</td>
                <td>DLT</td>
              </tr>
              <tr style="border-spacing: 10x;">
                <td>Created:</td>
                <td>{{comparison.mongo.created}}</td>
                <td ng-if="comparison.dlt !== undefined">{{comparison.dlt.created}}</td>
                <td ng-if="comparison.dlt == undefined"><i class="fa fa-minus" aria-hidden="false"></td>
              </tr>
              <tr style="border-spacing: 10x;">
                <td>Updated:</td>
                <td>{{comparison.mongo.lastUpdated}}</td>
                <td ng-if="comparison.dlt !== undefined">{{comparison.dlt.lastUpdated}}</td>
                <td ng-if="comparison.dlt == undefined"><i class="fa fa-minus" aria-hidden="false"></td>
              </tr>
            </table>
          </div>
        </div>

        <!-- <div class="modal-footer btn-block">
          footer
        </div> -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>