<section class="content-header">
  <h1> {{header}} </h1>
</section>

<section class="content">

  <!-- Filter -->
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Filter</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" ng-click="changeView()" ng-disabled="!listView"><i class="fa fa-th-large fa-lg"></i></button>
      <button type="button" class="btn btn-box-tool" data-widget="collapse" ng-click="changeView()" ng-disabled="listView"><i class="fa fa-list fa-lg"></i></button>
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">

            <label>Visibility and access rights</label>
            <ui-select
              ng-model="selectedAccessFilter"
              theme="bootstrap"
              ng-disabled="disabled"
              reset-search-input="true"
              title="Choose visibility and access filter"
              on-select="onAccessFilterSelected($item, $model)">
                <ui-select-match >
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (accessFilterData | filter: $select.search) track by item.id">
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.box-body -->
  </div>

<!-- Start -->
  <div ng-show="loadedPage">

    <!-- onlyPrivateDevices -->
    <div ng-show="noItems" >
       <h2 style="margin-left:20px;">No {{typeOfItem}} found for the current selection...</h2>
   </div>

   <div class="row" ng-if="!listView || imMobile">
     <!-- reaped on each device in the list -->
     <div class="col-lg-4" ng-repeat="dev in items | nameFilter:searchTerm">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-aqua">
            <div class="widget-user-image">
              <img class="img-circle" style="background-color: white" ng-src="{{dev.avatar}}" alt="Device Avatar">
            </div>
            <!-- /.widget-user-image -->
            <span ng-if="dev.online" class="pull-right"><i class="fa fa-circle text-success"></i></span>
            <span ng-if="!dev.online" class="pull-right"><i class="fa fa-circle text-muted"></i></span>
            <h3 class="widget-user-username">{{ dev.name | limitTo: 20 }}{{dev.name.length > 20 ? '...' : ''}}</h3>
            <h5 class="widget-user-desc">{{ dev.companyName | limitTo: 20 }}{{dev.companyName.length > 20 ? '...' : ''}}</h5>
            <h5 class="widget-user-desc" ng-if="dev.status === 'Disabled'">{{dev.status}}</h5>
            <h5 class="widget-user-desc" ng-if="dev.status !== 'Disabled'">{{dev.privacyCaption}}</h5>
          </div>
          <a href="" class="widget-user-footer-moreinfo" ui-sref="root.main.deviceProfile.description({deviceId: dev.oid})">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
  </div>

    <!-- LIST VIEW -->
      <div class="box" ng-if="listView && !imMobile && !noItems">
        <div class="box-body">
          <table id="RegTable" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name<i ng-click="orderByMe('name')" class="fa fa-fw fa-sort"/></th>
                <th>Organisation<i ng-click="orderByMe('organisation')" class="fa fa-fw fa-sort"/></th>
                <th>Status</th>
                <th>Privacy</th>
                <th>Adapter type</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="it in items | orderBy:myOrderBy:rev">
                <td class="col-sm-5">
                  <a style="color: #000; z-index: -1" href="" ui-sref="root.main.deviceProfile.description({deviceId: it._id})">{{it.name}}</a>
                </td>
                <td class="col-sm-2">
                  <a style="text-decoration: underline" href="" ui-sref="root.main.companyProfile.services({companyAccountId: it.cid.id._id})">{{it.companyName}}</a>
                </td>
                <td class="col-sm-2">
                  <span>{{it.status}}</span>
                </td>
                <td class="col-sm-2">
                  <span>{{it.privacyCaption}}</span>
                </td>
                <td class="col-sm-1">
                  <p>EMPTY</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

  </div>
  <!--END VIEW BLOCK -->

  <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
    <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
  </div>

  <div class="centered" ng-show="!allItemsLoaded && loaded">
    <h3 ng-click="loadMore()" class="well" style="cursor: pointer">Load more items</h3>
  </div>

  <div class="centered" ng-show="allItemsLoaded && !noItems">
    <h3 class="well">All items loaded!</h3>
  </div>

</section>
<script>
  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function() {
      $('#RegTable').DataTable({
        "searching": false,
        "paging": false,
        "info": false,
        "select.info": false,
        "ordering": true
      });
  })
</script>
