<section class="content-header">
    <h1>Access Point detail</h1>
</section>

<!-- CREATE TEMPLATE -->
<section class="content">
<div ng-show="creatingNew" class="box box-primary" style="width:70%">
  <div class="box-header with-border">
    <h3 class="box-title">{{myNode}}</h3>
  </div>

  <form name="form" role="form" ng-submit="submitNode()">
    <div class="box-body">
      <div class="form-group">
        <label>Access Point name</label>
        <input class="form-control" ng-model="nName" placeholder="Enter name" required>
      </div>

      <div class="form-group" ng-show="nodeId === '0'">
        <label>Access Point type</label>
        <div class="form-group">
          <div class="row radio bg-dark">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
              <input name="optionsRadios" ng-model="nAgentType" value="Auroral" type="radio">
              <img class="node-logo" src="img/logos/auroral_horizontal.png"/>
            </div>
          </div>
          <div class="row radio">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
              <input name="optionsRadios" ng-model="nAgentType" value="Vicinity" type="radio">
              <img class="node-logo" src="img/logos/vcntlogo.png"/>
            </div>
          </div>
          <div class="row radio">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
              <input name="optionsRadios" ng-model="nAgentType" value="Sharq" type="radio">
              <img class="node-logo" src="img/logos/shqlogo.png"/>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" ng-show="nodeId !== '0'">
        <label>Gateway type</label>
          <div ng-show="nAgentType === 'Vicinity' ">
            <div class="col-sm-1">
              <img class="pull-left node-logo" src="img/logos/vcntlogo.png"/>
            </div>
          </div>
          <div ng-show="nAgentType === 'Auroral' ">
            <div class="col-sm-1">
              <img class="pull-left node-logo" src="img/logos/auroral_horizontal.png"/>
            </div>
          </div>
          <div ng-show="nAgentType === 'Sharq' ">
            <div class="col-sm-1">
              <img class="pull-left node-logo" src="img/logos/shqlogo.png"/>
            </div>
          </div>
        </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="nPass" placeholder="Enter password" required>
      </div>

      <div class="form-group">
        <label>Repeat Password</label>
        <input type="password" class="form-control" ng-model="nPass2" placeholder="Repeat password" required/>
        <span class="help-block" style="color: green" ng-show="nPass===nPass2 && nPass2"><i class="fa fa-check"></i> Passwords match!</span>
        <span class="help-block" style="color: red" ng-show="nPass!==nPass2 && nPass2"><i class="fa fa-times"></i> Passwords do not match</span>
      </div>

      <!-- add to partnership group (community) -->
      <div class="form-group">
        <label>Add to Partnership groups</label>
        <div ng-repeat="party in availibleParties">
          <input class="form-check-input" ng-model="party.checked" class="form-control" type="checkbox" value="false" id="party.commId">
          <label class="form-check-label" for="flexCheckDefault" style="font-weight: normal !important;">
            {{party.description}}
          </label>
        </div>
      </div>
      </div>

  <div class="box-footer">
    <div class="col-xs-6">
      <button type="submit" ng-disabled="nPass!==nPass2 || !nPass2 || !nPass" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-xs-6">
      <a href="" ng-click="backToList()" class="pull-right">Cancel</a>
    </div>
  </div>
  </form>
</div>

<!-- MODIFY NAME TEMPLATE -->
<section class="content">
  <div ng-show="modify && !creatingNew" class="box box-primary" style="width:70%">
    <div class="box-header with-border">
      <h3 class="box-title">Rename {{myNode}}</h3>
    </div>
    <form name="form" role="form" ng-submit="submitNode()">
      <div class="box-body">
        <div class="form-group">
          <label>Access Point name</label>
          <input class="form-control" ng-model="nName" placeholder="Enter name" required>
        </div>
        <div class="form-group">
          <input class="form-check-input" type="checkbox" id="visibilityCheckbox" value="" ng-model="nVisibility">
          <label class="form-check-label" for="visibilityCheckbox">
            Visible to other organisations
          </label>
        </div>
        <div class="form-group">
          <input class="form-check-input" type="checkbox" id="autoenablingCheckbox" ng-model="nAutoenabling">
          <label class="form-check-label" for="autoenablingCheckbox">
            Auto-enable registered items: 
          </label>
          <div ng-show=nAutoenabling>
            <label >
              Default Device owner:
              <select ng-model="selectedDeviceUser" ng-options="user as user.name for user in deviceUsers track by user.uid"></select>
             
            </label>
          </div>
          <div ng-show=nAutoenabling>
            <label >
              Default Service owner:
              <select ng-model="selectedServiceUser" ng-options="user as user.name for user in serviceUsers track by user.uid"></select>
            </label>
          </div>
        </div>
      </div>
    <div class="box-footer">
      <div class="col-xs-6">
        <button type="submit" ng-disabled="!nName" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-xs-6">
        <a href="" ng-click="backToList()" class="pull-right">Cancel</a>
      </div>
    </div>
    </form>
  </div>

<!-- READ ONLY TEMPLATE-->

<div ng-show="!creatingNew && !modify" class="box box-primary" style="width:70%">
  <div class="box-header with-border">
    <h3 class="box-title">{{myNode}}</h3>
  </div>

    <div class="box-body">
      <div class="form-group">
        <label>Access Point name</label>
        <p>{{nName}}</p>
      </div>
      <div class="form-group">
        <label>AGID</label>
        <p>{{nId}}</p>
      </div>
      <div class="form-group">
        <label>Visibility</label>
        <p ng-show="nVisibility">Visible to other organisations</p>
        <p ng-show="!nVisibility">Invisible to other organisations</p>
      </div>
      <div class="form-group">
        <label>Access Point type</label>
          <div ng-show="nAgentType === 'Vicinity' ">
            <div class="col-sm-1">
              <img class="pull-left node-logo" src="img/logos/vcntlogo.png"/>
            </div>
          </div>
          <div ng-show="nAgentType === 'Sharq' ">
            <div class="col-sm-1">
              <img class="pull-left node-logo" src="img/logos/shqlogo.png"/>
            </div>
          </div>
          <div ng-show="nAgentType === 'Auroral' ">
            <div class="col-sm-1">
              <img class="pull-left node-logo" src="img/logos/auroral_horizontal.png"/>
            </div>
          </div>
        </div>
    </div>

  <div class="box-footer">
    <div class="col-xs-6">
      <button ng-click="toModify()" class="btn btn-primary">Modify</button>
    </div>
    <div class="col-xs-6">
      <a href="" ng-click="backToList()" class="pull-right">Cancel</a>
    </div>
  </div>
</div>
</section>
