<section class="content-header">
  <h1>Registrations table</h1>
</section>

<div class="coll-md-1" ng-hide="loadedPage" style="margin: auto; width:60%">
  <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block" />
</div>

<section class="content" ng-show="loadedPage && !imMobile">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body">
      <table id="RegTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Created<i ng-click="orderByMe('date')" class="fa fa-fw fa-sort" /></th>
            <th>Company Name<i ng-click="orderByMe('companyName')" class="fa fa-fw fa-sort" /></th>
            <th>Username<i ng-click="orderByMe('email')" class="fa fa-fw fa-sort" /></th>
            <th>E-mail<i ng-click="orderByMe('fullname')" class="fa fa-fw fa-sort" /></th>
            <th>Status<i ng-click="orderByMe('status')" class="fa fa-fw fa-sort" /></th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="regis in regisList | orderBy:myOrderBy:rev">
            <td>{{regis.dateString}}</td>
            <td>{{regis.companyName}}</td>
            <td>{{regis.fullname}}</td>
            <td>{{regis.email}}</td>
            <td align="center">
              <div ng-if="regis.status === 'open' || regis.status === 'pending' ">
                <span class="label label-warning ">Pending</span>
              </div>
              <div ng-if="regis.status === 'verified'">
                <span class="label label-success ">Verified</span>
              </div>
              <div ng-if="regis.status === 'declined'">
                <span class="label label-danger ">Declined</span>
              </div>
            </td>
            <td>
              <i ng-if="regis.status === 'open' " ng-click="verifyAction(regis.registrationId)"
                style="color: green; padding-left:10%" class="fa fa-check fa-lg col-sm-4"></i>
              <i ng-if="regis.status === 'open' " ng-click="declineAction(regis.registrationId)"
                style="color: red; padding-left:10%" class="fa fa-close fa-lg col-sm-4"></i>
              <i ng-if="regis.status === 'pending' " ng-click="resendAction(regis.registrationId)"
                style="color: blue; padding-left:10%" class="fa fa-paper-plane fa-lg col-sm-4"></i>
              <i ng-if="regis.status === 'pending' " ng-click="declineAction(regis.registrationId)"
                style="color: red; padding-left:10%" class="fa fa-close fa-lg col-sm-4"></i>
              <i ng-if="regis.status === 'pending' " ng-click="autoVerifyAction(regis.registrationId)"
                style="color: green; padding-left:10%" class="fa fa-check fa-lg col-sm-4"></i>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <div class="centered" ng-show="!allItemsLoaded">
    <h3 ng-click="loadMore()" class="well" style="cursor: pointer">Load more items</h3>
  </div>
  <div class="centered" ng-show="allItemsLoaded ">
    <h3 class="well">All registrations loaded!</h3>
  </div>
  <!-- /.box -->
</section>

<!-- MOBILE VERSION -->
<section ng-show="loadedPage && imMobile" style="margin: auto; width:80%">
  <hr>
  <span>
    <i ng-click="onSort(false)" class="fa fa-sort-alpha-asc btn btn-default" aria-hidden="true"></i>
    <i ng-click="onSort(true)" class="fa fa-sort-alpha-desc btn btn-default" aria-hidden="true"></i>
  </span>
  <hr>
  <div class="box-body box" ng-repeat="regis in regisList | orderBy:myOrderBy:rev">
    <div>
      <label>Company Name: </label>
      <span>{{regis.companyName}}</span>
    </div>
    <div>
      <label>Username: </label>
      <span>{{regis.fullname}}</span>
    </div>
    <div>
      <label>Mail: </label>
      <span>{{regis.email}}</span>
    </div>
    <div>
      <label>Created: </label>
      <span>{{regis.date}}</span>
    </div>
    <div>
      <label>Status: </label>
      <span ng-if="regis.status === 'open' || regis.status === 'pending' " class="label label-warning ">Pending</span>
      <span ng-if="regis.status === 'verified'" class="label label-success ">Verified</span>
      <span ng-if="regis.status === 'declined'" class="label label-danger ">Declined</span>
    </div>
    <div class="centered" style="padding:5%">
      <i ng-if="regis.status === 'open' " ng-click="verifyAction(regis.registrationId)"
        style="color: green; padding-left:10%" class="fa fa-check fa-lg col-sm-4"></i>
      <i ng-if="regis.status === 'open' " ng-click="declineAction(regis.registrationId)"
        style="color: red; padding-left:10%" class="fa fa-close fa-lg col-sm-4"></i>
      <i ng-if="regis.status === 'pending' " ng-click="resendAction(regis.registrationId)"
        style="color: blue; padding-left:10%" class="fa fa-paper-plane fa-lg col-sm-4"></i>
      <i ng-if="regis.status === 'pending' " ng-click="declineAction(regis.registrationId)"
        style="color: red; padding-left:10%" class="fa fa-close fa-lg col-sm-4"></i>
      <i ng-if="regis.status === 'pending' " ng-click="autoVerifyAction(regis.registrationId)"
        style="color: green; padding-left:10%" class="fa fa-check fa-lg col-sm-4"></i>
    </div>
  </div>
  <div class="centered" ng-show="!allItemsLoaded">
    <h3 ng-click="loadMore()" class="well" style="cursor: pointer">Load more items</h3>
  </div>
  <hr>
</section>