<div class="login-box">

  <!-- // LOGIN LOGO ========================== -->

  <div class="login-logo">
    <img src="img/logos/auroral_horizontal.png"/>
  </div>

  <div id="forgot1">
    <h3 style="color: black" class="login-box-msg"> Magic link login</h3>
    <span style="color: black" class="login-box-msg"> Your token has expired. Please continue to login page </span>
    <hr>
      <div class="col-xs-6">
        <a href="" ng-click="backToLogin()" class="text-center">Back to login</a>
      </div>
      <div class="col-xs-6">
        <button type="submit"  class="btn btn-primary btn-block btn-flat">Reset password</button>
      </div>
</div>
